.main-layout{
    background-image: url(./assets/jess-bailey-Bg14l3hSAsA-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.form-layout{
    background-image: url(./assets/jess-bailey-l3N9Q27zULw-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


